<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>


    <p class="quote"><%= quote.quoteText%></p>

    <p class="author">~ &nbsp;<%= quote.quoteAuthor%></p>
    
    
   
</body>

</head>

</html>